# Spring Boot / Java
backend-api/target/
backend-api/*.log



# Android
android-app/.gradle/
android-app/local.properties
android-app/.idea/
android-app/*.iml
android-app/app/build/
android-app/build/

# General
build/
target/
*.class
*.log

# Windows
Thumbs.db
desktop.ini